<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Mediscreen</title>


  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />

    </head>
    <body>
    <div th:replace="menu"></div>
    <div class="container">
        <div class="row"><h2>Patient List</h2></div>
        <div class="row">
            <div class="row m-4">
                <a href="/patient/add" class="btn btn-primary btn-sm">Add Patient</a>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.firstName}"></td>
                    <td th:text="${patient.lastName}"></td>
                    <td style="width: 15%" class="text-center">
                        <a href="#" th:href="@{/patient/fiche/{id}(id=${patient.id})}">
                            <button class="btn btn-primary btn-sm" type="submit">Informations</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html> 
 