<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Update Patient</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Update Patient</h2>
	</div>  

	<div class="row">
		<form action="#" th:action="@{/patient/update/{id}(id=${patient.id})}" th:object="${patient}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label for="lastName" class="col-sm-2 control-label">LastName</label>
				<div class="col-sm-10">
					<input type="text" maxlength="60" th:field="*{lastName}" id="lastname" placeholder="lastName" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="firstName" class="col-sm-2 control-label">FirstName</label>
				<div class="col-sm-10">
					<input type="text" maxlength="30" th:field="*{firstName}" id="firstname" placeholder="firstName" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<label class="checkbox-inline"><input type="radio" th:field="*{sex}" th:value="M">Male </label>
					<label class="checkbox-inline"><input type="radio" th:field="*{sex}" th:value="F">Female </label>
					<p class="text-danger" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="birthdate" class="col-sm-2 control-label">Birthdate</label>
				<div class="col-sm-10">
					<input type="date" th:field="*{birthdate}" id="birthdate" placeholder="birthdate" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="address" class="col-sm-2 control-label">Address</label>
				<div class="col-sm-10">
					<input type="text" maxlength="200" th:field="*{address}" id="address" placeholder="Address" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="phone" class="col-sm-2 control-label">Phone</label>
				<div class="col-sm-10">
					<input type="text" maxlength="20" th:field="*{phone}" id="phone" placeholder="Phone" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="hidden" th:field="*{id}">
					<a class="btn btn-danger btn-sm" href="/patient/list">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Update Patient">
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html> 